/*-----------------BOUTON RADIO-----------------------*/
#radioCollection li{
	list-style:none;
}

#radioCollection ul{
	margin-left:0;
}

.criteria-list-item {
	padding: 5px 5px 0px;
		float: left;
		width: 100%;
		border-bottom: 1px solid grey;
}

.criteria-list-item p{
		margin: 0 0 5px;
		line-height: 10px;
}

.criteria-value-list li {
	

}
.RadioCustom{
		background:transparent url(../css/images/btn_criteres.png)no-repeat;
    float:left;
    width:50px;
}
.RadioCustomOn{
    background:transparent url(../css/images/btn_criteres.png)no-repeat -50px 0px;
		left:-50px;
    float:left;
    width:50px;
}
.RadioCustom input[type="checkbox"]{
    position:relative;
    margin-left:-15px;
    cursor:pointer;
    position:relative;
    float:left;
    display:none;
		visibility:hidden;
}

.RadioCustom label{
    cursor:pointer;
    float:left;
    height:50px;
}

#crit-list li h3{
    margin:1px;
	display:inline;
	font-size:0.9em;
}
#crit-list li{
    padding:10px;
	min-height:25px;
}
.imgHelpKey {
	height:25px;
	position:relative;
	float:right;
}
/****Annuaire****/
.btn-group-vertical > .btn:first-child {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-top: 0;
}

#aphabetic-list-el{
		position: fixed;
		right: 0px;
		background: whitesmoke;
}
.internal-anchor {
		border: 0;
		font-size: xx-small !important;
		min-width: 100%;
		padding: 0;
		margin: 5px 5px 0px;
		background-color: transparent;
		background-image: none;
		height: 4%;
}
@media all {
	#aphabetic-list-el {
		overflow                    : hidden;
		position                    : fixed;
		display                     : block;
		/*width                       : 100%;
	  padding-top               : 60px;
		padding-bottom              : 60px;
		top                         : 0;*/
	 height: 80%;  /* uncomment if desktop */
	}
}