a {
  color:#27A22D;
}

a:hover, a:active {
  color:#256226;
}

.clearLeft{
	clear:left;
}

.list-el{
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%;
  border:solid 1px;    
  box-shadow: 2px 5px 6px #000000;
  margin-top: 10px;
}

.list-el a {
  width: 100%;
}
/**color**/
.vert-fonce-bg {
  background: #256226;
}
.vert-anis{
  color:#DEDB00;
}

.vert-anis-bg{
  background:#DEDB00;
}

.white {
  color: white;
}

.red{
  color:#E2001A;
}

.vert-logo{
  color:#27A22D;
}

/***Footer***/
footer{
  height: 43px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

footer a{
  color: white;
  height: 43px;
  width: 100%;
  float: left;
}

footer a:active,footer a:hover,footer a:focus{
  color: white;
  background:#E2001A;
  text-decoration: none;
}

.footer-el{
  width: 33.333333%;
  float: left;
  text-align: center;
  height: 43px;
}
/******************/

/*.loc-header{
  height:60px;
}*/
.header-logo {
	width: 38px;
	float: left;
	padding: 0px 5px;
}
.header-button.header-button-left.header-back-button {
	float: left;
}
.page-block-title {
	float: left;
}
.page-title{
 /* font-size:200%;*/
 font-weight:bold;
}
.page-title, .page-subtitle{
	width: auto;
	float: left;
}

.page-subtitle{
	clear: left;
}

.loc-container{
  margin-bottom: 40px;
  margin-top: 50px;
}


.sci-taxon-name{
  font-style: italic;
}
.taxon-img-thumb{
  width:80px;
}
/********HOME*********/
.container-home .row{
	margin:10px;
}




/***********LIST***************/

.taxonName a {
  height: 80px;
  width: 100%;
  display: block;
}

.taxonName p {
  float: left;
  margin-top: 10px;
}

.taxonName .taxon-img-thumb {
  width: 80px;
  margin: 5px;
  float: left;
}
.taxonList li {
 padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%;
  border-top:solid 1px grey;    
}
/**********carousel-container*************/
#carousel-container{
  float:left; /* important for inline positioning */  
  width:430px; /* important (this width = width of list item(including margin) * items shown */  
  background: #F0F0F0;
  overflow-y: hidden;
  overflow-x:auto;
  margin-top:10px;
}
#carousel-container ul{
  position:relative;  
  list-style-type: none; /* removing the default styling for unordered list items */  
  margin: 0px;  
  padding: 0px;  
  width:9999px; /* important */  
  /* non-important styling bellow */  
  padding-bottom:10px;  
}

#carousel-container ul li {
  float: left; /* important for inline positioning of the list items */  
  width:400px;  /* fixed width, important */  
  /* just styling bellow*/  
  padding:0px;  
  height:300px;  
  background: #000000;  
  margin-top:10px;  
  margin-bottom:10px;  
  margin-left:5px;  
  margin-right:5px;  
}

#carousel-container ul li img {  
margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/  
/* styling */  
cursor:pointer;  
cursor: hand;  
border:0px;  
}  


/*********MEDIA QUERIE***/
@media (min-width: 768px){
	#carousel-container {
	width: 100%;
	}
}

/*******SURCHARGE DE TWITTER BOOTSTRAP*******/

@media (max-width: 767px){
  body {
	padding-right: 0;
	padding-left: 0;
  }
 /* [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
	width: 80%;
	float: left;
  }*/
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin-right: 0;
	margin-left: 0;
  }
}
.nav-list {
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

.navbar-fixed-top{
  position: fixed;
  background:whitesmoke;
  height:43px;
  padding:5px 5px 0 ;
}
