.disabled{
	z-index: 1;
	filter: Alpha(Opacity=30);
	opacity: .3;
	zoom: 1;
}
.disabled, disabled a {
	cursor: default!important;
	pointer-events: none;
}

#dataloader-img {
  position: fixed;
  left: 50%;
  top: 50%;
}
.loading-slideshow{
	background-image: url(./images/slideshow-loader.gif);
	background-repeat:no-repeat;
	background-size:100%;
}

a {
  color:#27A22D;
}

a:hover, a:active {
  color:#256226;
}

.clearLeft{
	clear:left;
}

ul{
	margin:0;
}
.list-el{
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%;
  border:solid 1px;    
  box-shadow: 2px 5px 6px #000000;
  margin-top: 10px;
}

.list-el a {
  width: 100%;
}
/**color**/
.vert-fonce-bg {
  background: #256226;
}
.vert-sauvages{
	color:#008D00; 
}
.vert-clair-sauvages{
	color:#A0CA10; 
}
.rouge-fonce-sauvages{
	color:#C0151C; 
}
.bleu-fonce-sauvages{
	color:#28717E; 
}
.bleu-sauvages{
	color:#9FBEDE; 
}
.beige-sauvages{
	color:#CAD09C; 
}

.vert-anis{
  color:#DEDB00;
}

.vert-anis-bg{
  background:#DEDB00;
}

.white {
  color: white;
}

.red{
  color:#E2001A;
}

.vert-logo{
  color:#27A22D;
}

/***Footer***/
footer{
  height: 43px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

footer a{
  color: white;
  height: 43px;
  width: 100%;
  float: left;
}

footer a:active,footer a:hover,footer a:focus{
  color: white;
  background:#008D00;
  text-decoration: none;
}

.footer-el{
  width: 33.333333%;
  float: left;
  text-align: center;
  height: 43px;
  background:gray;
}
/******************/

/*.loc-header{
  height:60px;
}*/
.header-logo {
	width: 38px;
	float: left;
	padding: 0px 5px;
}
.header-button.header-button-left.header-back-button {
	float: left;
}
.page-block-title {
	float: left;
}
.page-title{
 /* font-size:200%;*/
 font-weight:bold;
}
.page-title, .page-subtitle{
	width: auto;
	float: left;
}

.page-subtitle{
	clear: left;
}

.loc-container{
  margin:50px 10px 40px ;
  margin-top: 50px;
}


.sci-taxon-name{
  font-style: italic;
}
.taxon-img-thumb{
  width:80px;
}
/********HOME*********/
.container-home .row{
	margin:10px;
}




/***********LIST***************/
.taxon-list-item {
	width: 100%;
}
.taxonName {
	width: 80%;
	float: left;
}
.taxonName a {
  height: 80px;
  width: 100%;
  display: block;
}

.taxonName p {
  float: left;
  margin-top: 10px;
}
.btnAddObsList.pull-right a {
	height: 80px;
}
.taxonName .taxon-img-thumb {
  width: 80px;
  margin: 5px;
  float: left;
}
.taxonList li {
 padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%;
  border-top:solid 1px grey;    
}
/**********carousel-container*************/
#taxon-detail-content .flexslider{
	margin:0 0 25px;
}
#taxon-detail-content .flex-control-nav{
	bottom:-25px;
}
#taxon-detail-content .flex-control-paging li a{
	width:5px;
	height:5px;
}


/***DETAIL TAXON***/
.btnObs{
	width:25%;
	margin:0px 35.3% 5px;
}
/*********MEDIA QUERIE***/
@media (min-width: 768px){
	#carousel-container {
	width: 100%;
	}
}

/*******SURCHARGE DE TWITTER BOOTSTRAP*******/

@media (max-width: 767px){
  body {
	padding-right: 0;
	padding-left: 0;
  }
 /* [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
	width: 80%;
	float: left;
  }*/
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin-right: 0;
	margin-left: 0;
  }
}
.nav-list {
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

.navbar-fixed-top{
  position: fixed;
  background:whitesmoke;
  height:43px;
  padding:5px 5px 0 ;
}

.notification-list{
	margin-top : 10%;
}
/****Annuaire****/
.btn-group-vertical > .btn:first-child {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-top: 0;
}

#aphabetic-list-el{
		position: fixed;
		right: 0px;
		background: whitesmoke;
}
.internal-anchor {
		border: 0;
		font-size: xx-small !important;
		min-width: 100%;
		padding: 0;
		margin: 5px 5px 0px;
		background-color: transparent;
		background-image: none;
		height: 4%;
}
@media all {
	#aphabetic-list-el {
		overflow                    : hidden;
		position                    : fixed;
		display                     : block;
		/*width                       : 100%;
	  padding-top               : 60px;
		padding-bottom              : 60px;
		top                         : 0;*/
	 height: 80%;  /* uncomment if desktop */
	}
}