.disabled{
	z-index: 1;
	filter: Alpha(Opacity=30);
	opacity: .3;
	zoom: 1;
}
.disabled, disabled a {
	cursor: default!important;
	pointer-events: none;
}
.container{
  padding-left:0;
  padding-right:0;
  width:100%;
}
#dataloader-img {
  width:32px;
  display:block;
  margin: 40% auto;
}
.loading-slideshow{
	background-image: url(./images/slideshow-loader.gif);
	background-repeat:no-repeat;
	background-size:100%;
}

a {
  color:#27A22D;
}

a:hover, a:active {
  color:#256226;
}

.clearLeft{
	clear:left;
}

ul{
	margin:0;
}
.list-el{
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%;
  border:solid 1px;    
  box-shadow: 2px 5px 6px #000000;
  margin-top: 10px;
}

.list-el a {
  width: 100%;
}
/**color**/
.vert-fonce-bg {
  background: #256226;
}
.vert-sauvages{
	color:#008D00; 
}
.vert-clair-sauvages{
	color:#A0CA10; 
}
.rouge-fonce-sauvages{
	color:#C0151C; 
}
.bleu-fonce-sauvages{
	color:#28717E; 
}
.bleu-sauvages{
	color:#9FBEDE; 
}
.beige-sauvages{
	color:#CAD09C; 
}

.vert-anis{
  color:#DEDB00;
}

.vert-anis-bg{
  background:#DEDB00;
}

.white {
  color: white;
}

.red{
  color:#E2001A;
}

.vert-logo{
  color:#27A22D;
}
/****************/
/*:focus,select:focus {
outline-color: green;
}
*/
/****** NS_UI-Form****************/

.form-actions .btn{
  margin:0px auto;
  display: block;
  width:65%;
}
.form-actions {
padding: 19px 5px 20px;
}
#rue-form .disabled {
opacity: .6;
}
/**surcharge du focus bootstrap couleur verte**/
/*textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus,
input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus,
input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus, .uneditable-input:focus {
border-color: rgba(35, 162, 45, 0.8);
outline: 0;
outline: thin dotted \9;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(35, 162, 45, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(35, 162, 45, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(35, 162, 45, 0.6);
}*/
.btn-success {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #27A22D;
background-image: -moz-linear-gradient(top, #27A22D, #007600);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#27A22D), to(#007600));
background-image: -webkit-linear-gradient(top, #27A22D, #007600);
background-image: -o-linear-gradient(top, #27A22D, #007600);
background-image: linear-gradient(to bottom, #27A22D, #007600);
background-repeat: repeat-x;
border-color: #51a351 #51a351 #387038;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
color: #ffffff;
background-color: #007600;
}

/*****SPRITE*******/
.sprite-arrow-div-list-transparent{ background-position: 0 0; width: 29px; height: 67px; } 
.sprite-arrow-div-list{ background-position: 0 -117px; width: 29px; height: 67px; } 
.sprite-back-hover{ background-position: 0 -234px; width: 55px; height: 30px; } 
.sprite-back{ background-position: 0 -314px; width: 55px; height: 30px; } 
.sprite-bonhomme-home{ background-position: 0 -394px; width: 99px; height: 89px; } 
.sprite-btn-assistant{ background-position: 0 -533px; width: 37px; height: 29px; } 
.sprite-btn-home-hover{ background-position: 0 -612px; width: 224px; height: 77px; } 
.sprite-btn-home-initier-hover{ background-position: 0 -739px; width: 227px; height: 78px; } 
.sprite-btn-home-initier{ background-position: 0 -867px; width: 227px; height: 78px; } 
.sprite-btn-home{ background-position: 0 -995px; width: 224px; height: 77px; } 
.sprite-btn-list-add-hover{ background-position: 0 -1122px; width: 54px; height: 73px; } 
.sprite-btn-list-add{ background-position: 0 -1245px; width: 54px; height: 73px; } 
.sprite-btn-resultat{ background-position: 0 -1368px; width: 46px; height: 29px; } 
.sprite-btn-stop{ background-position: 0 -1447px; width: 37px; height: 29px; } 
.sprite-flower-white{ background-position: 0 -1526px; width: 25px; height: 25px; } 
.sprite-list-fond{ background-position: 0 -1601px; width: 37px; height: 29px; } 
.sprite-list{ background-position: 0 -1680px; width: 25px; height: 25px; } 
.sprite-map{ background-position: 0 -1755px; width: 25px; height: 25px; } 
.sprite-obs{ background-position: 0 -1830px; width: 25px; height: 25px; } 
.sprite-parameter{ background-position: 0 -1905px; width: 25px; height: 25px; } 


.sprite-sauvages{
background-image:url(images/sprite-sauvages.png);
background-repeat:no-repeat;
position: relative;
display: block;

}
.footer-el span.sprite-sauvages{
height:24px;
width:24px;
margin:1px auto 0px;
}

a.sprite-btn-home,a.sprite-btn-home-initier{
  margin: auto;
}
a.sprite-btn-home:hover{
  background-position: 0 -612px;;
}
a.sprite-btn-home-initier:hover{
  background-position: 0 -739px;
}

.sprite-sauvages.sprite-btn-stop,.sprite-sauvages.sprite-btn-resultat {
position: absolute;
}
.sprite-sauvages.sprite-btn-resultat {
right: 0;
}
.sprite-sauvages.sprite-btn-assistant,.sprite-sauvages.sprite-back,.sprite-sauvages.sprite-list-fond{
  margin-top:6px;
}
/******SVG*******/
#home-page-content{
  background-image:url(images/map-home.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  width:100%;
}
/***Footer***/
footer{
  height: 43px;
  width: 100%;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  position: fixed !important;
  z-index: 1000 !important;
}

footer a{
  color: white;
  height: 43px;
  width: 100%;
  float: left;
 
}

footer a:active,footer a:hover,footer a:focus{
  color: white;
  background:#27A22D;
  text-decoration: none;
}

.footer-el{
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  text-align: center;
  height: 43px;
  background:gray;
  border-top: 2px solid #6B6B6B
  font-size:12px;
}
.footer-el:nth-child(2){
border-right: 1px solid #6B6B6B;
border-left: 1px solid #6B6B6B;
}
/******************/

/*.loc-header{
  height:60px;
}*/
.header-logo {
	float: left;
	padding: 2px 5px;
}
.header-button.header-button-left.header-back-button {
	float: left;
}
.page-block-title {
	float: left;
	padding-top:2px;
}
.page-title{
 /* font-size:200%;*/
 font-weight:bold;
}
.page-title, .page-subtitle{
	width: auto;
	float: left;
}

.page-subtitle{
	clear: left;
}

.loc-container{
  margin:80px 2% 40px ;
}
#identification-list-content .loc-container{
  margin:75px 0px 40px ;
}
#taxon-list-content .loc-container{
  margin: 73px 16px 40px 2px;
}

.sci-taxon-name{
  font-style: italic;
}

/********HOME*********/
.container-home .row{
  margin:10px;
}

#home-bonhomme {
  margin: 25% 5px 5px 60%;  
}
#home-logo{
  margin:auto;
  display:block;
}

/****Smartphones (portrait)*****/
@media only screen and (max-height : 320px){
    #home-bonhomme {
    margin: 1% 5px 1px 60%;
    width:30px;
  }
}
@media only screen and (min-height : 321px) and (max-height : 480px)
{
    #home-bonhomme {
    margin: 15% 5px 5px 60%;
  }
}
/**********KEY Header************/
#taxonNb {
color: white;
text-align: inherit;
margin-left: 12px;
font-weight: normal;
font-size: 13px;
}
/***********LIST TAXONS***************/
.taxon-list-item {
	width: 100%;
        border: 1px solid black;
border-bottom: 0px;
}
.taxonName {
	width: 75%;
	float: left;
}
.taxonName a {
  width: 100%;
  display: block;
  color:black;
}
.taxonName em {
  color:#333;
}

.taxonName p {
  float: left;
  margin-top: 10px;
  width:60%;
  line-height: 16px;
}

.taxonName .taxon-img-thumb {
  width: 67px;
  margin: 3px 5px 0px 3px;
  float: left;
  border-radius:4px;
}
.taxonList li {
 padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%;
  background-color:white;   
}
.page-block-sub-title{
  height:30px;
  text-align:center;
  background-color:#A0CA10;
  font-weight: bold;
  position: fixed;
top: 43px;
width: 100%;
z-index:1000;
right: 0;
}
h1.page-sub-title {
font-size: 20px;
line-height: 24px;
-webkit-margin-before: 0.2em;
-webkit-margin-after: 0.1em;
}

.page-block-sub-title em{
  width:100%;
  background:white;
  display:block;
}

.sprite-arrow-div-list-transparent {
position: absolute;
margin-top: 3px;
z-index: 1;
right: 70px;
}
.btnAddObsList{
 
}
.item-list-alphabetique p {
-webkit-margin-start: 6px;
-webkit-margin-after: 0px;
text-shadow: 1px 0px 1px gray;
}
.taxonList li:last-of-type{
border-bottom: 1px solid black;
}
li.item-list-alphabetique{
  background:#EBECDE;
}
.item-alphabetique-taxon-list li:nth-child(odd){
background:white;
}
.item-alphabetique-taxon-list li:nth-child(even){
background:#EBECDE;
}
ul.nav-list ul {
  padding-left: 0;
}

/*****LIST OBS*****/

.list-group li:nth-child(even){
background:#EBECDE;
}
#obs-list-content .loc-container {
margin: 73px 0px 40px;
}

/**********carousel-container*************/
#taxon-detail-content .flexslider{
	margin:0 0 35px;
	min-height: 50px;
}
#taxon-detail-content .flex-control-nav{
	bottom:-25px;
}
#taxon-detail-content .flex-control-paging li a{
  width:5px;
  height:5px;
}


/***DETAIL TAXON***/
#taxon-detail-content .loc-container{
  margin:90px 10px 40px;
}
.btnObs{
  width:25%;
  margin:0px 32% 5px;
}
.btnObs {
margin: 10px auto;
background-image: url('images/btn-add-obs-round.png');
background-repeat: no-repeat;
width: 74px;
height: 60px;
display: block;
}
.accordion-toggle {
color: black;
}
.accordion-toggle:hover {
color: black;
text-decoration: none;
}
.accordion-toggle i {
margin-right: 7px;
}
.accordion {
margin-bottom: 60px;
}
#criteria-list-container li {
list-style: none;
margin: 10px;
}
/*********MEDIA QUERIE***/
@media (min-width: 768px){
  #carousel-container {
  width: 100%;
  }
}

/*******SURCHARGE DE TWITTER BOOTSTRAP*******/

@media (max-width: 767px){
  body {
	padding-right: 0;
	padding-left: 0;
  }
 /* [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
	width: 80%;
	float: left;
  }*/
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
	margin-right: 0;
	margin-left: 0;
  }
}
.nav-list {
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

.navbar-fixed-top{
  position: fixed;
  background:whitesmoke;
  min-height:43px;
}

.notification-list{
	margin-top : 10%;
}
/****Annuaire****/
.btn-group-vertical > .btn:first-child {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-top: 0;
}

#aphabetic-list-el{
		position: fixed !important;
		right: 0px !important;
		background: whitesmoke;
}
.internal-anchor {
		border: 0;
		font-size: xx-small !important;
		min-width: 100%;
		padding: 0;
		margin: 5px 5px 0px;
		background-color: transparent;
		background-image: none;
		height: 4%;
}
@media all {
	#aphabetic-list-el {
		overflow                    : hidden;
		position                    : fixed;
		display                     : block;
		/*width                       : 100%;
	  padding-top               : 60px;
		padding-bottom              : 60px;
		top                         : 0;*/
	 height: 80%;  /* uncomment if desktop */
	}
        #home-page-content {
		overflow                    : hidden;
		position                    : fixed;
		display                     : block;
		top                         : 0;
          height: 95%;  /* uncomment if desktop */
	}
}
