<div id="taxon-list-content" class="container">
    <div  class="navbar navbar-fixed-top loc-header">
        <!--<a href="#" class="header-button header-button-left header-back-button"><button>Back</button></a>-->
        <a href="#" class="header-logo"><img src="./css/images/logo_sauvages_38px.png"/></a>
        <div class="page-block-title">
            <div class="span page-title">Nouvelle observation</div>
            <% if (typeof(app.globals.currentrue !== 'undefined')) { %>
              <div class="span page-subtitle sci-rue-name"><%= app.globals.currentrue.get('name') %> - <%= app.globals.currentrue.get('cote') %></div>
            <% } %>
        </div>
        <button class='btn pull-right'><a href="#taxonlist">Liste</a></button>
    </div>
    <div id="obs-form"></div>
		<div id="pict-form"></div>
</div>
