<div id="taxon-list-content" class="container">
    <div  class="navbar navbar-fixed-top loc-header">
        <a href="#" class="btn header-button header-button-left header-back-button"><b>&lang;</b></a>
        <a href="#" class="header-logo"><img src="./css/images/logo_sauvages_38px.png"/></a>
        <div class="page-block-title">
            <div class="span page-title">Espèces</div>
        </div>
        
        <a class='btn pull-right' href="#identification">assistant</a>
        <a class='btn pull-right' href="#addParcours">Fin de parcours</a>
    </div>

   
   <%
    var col = _.groupBy(data.collection.models, function(taxon){ return taxon.get("commonName").charAt(0).toUpperCase(); });
   %>
   <div class="loc-container" >
      
   <div id="aphabetic-list">
    
   </div>
   
      <fieldset>
        <ul id="values-list" class="taxonList nav-list">
        <%  _.each(col,function(item,key,list){ %>
          <li id="anchor-taxon-<%= key %>"><%= key %></li>
          <ul> 
          <% _.each(item,function(taxon,k){%>
            <li>
              <div id='taxonList-div-<%= taxon.get('taxonId') %>' class="taxon-list-item pad-right">
                <div>
                    <div class="taxonName">
                      <a href="#taxondetail/<%= taxon.get('taxonId') %>">
                        <% if ((typeof(taxon.get('picture')) !== "undefined")  &&  (taxon.get('picture') !== "undefined")){ %>
                        <% var picture = taxon.get('picture')
                        picture = picture.replace("http://www.tela-botanica.org/appli:cel-img:","./data/images/images_formated/")%>
                          <img class="taxon-img-thumb" id="taxonList-img-<%= taxon.get('taxonId') %>" src="<%=picture%>" alt="image : <%= taxon.get('scientificName') %>"/>
                        <% } %> 
                        <p><b><%= taxon.get('commonName') %></b></br><em><%= taxon.get('scientificName') %></em></p>
                      </a>
                    </div>
                    <div class="btnAddObsList pull-right">
                      <a href="#addObs/<%= taxon.get('taxonId') %>" class="btn">Ajouter</i></a>
                    </div>
                    
                </div>
              </div>
            </li>
          <% }); %>
          </ul>
        <% }); %>
        </ul>
      </fieldset>
    </div>
</div>
