<div id="taxon-detail-content" class="container">
    <div  class="navbar navbar-fixed-top loc-header">
        <!--<a href="#" class="header-button header-button-left header-back-button"><button>Back</button></a>-->
        <a href="#" class="header-logo"><img src="./css/images/logo_sauvages.png"/></a>
        <div class="page-block-title">
            <div class="span page-title"><%= commonName %></div>
            <div class="span page-subtitle sci-taxon-name"><%= scientificName %></div>
        </div>
        <button class='btn pull-right'><a href="#taxonlist">Liste</a></button>
    </div>
   
   
   
  <div class="loc-container" >
    <div id="carousel-container">
        <ul>
        <% 
        _.each(pictures.models,function(item,key,list){
        %>
          
            <li>
             <img src = "<%= item.get('path')%>" alt = "<%= commonName %> image <%= key %>" />
        
            </li>
         
    
            <%
              });
            %>
        </ul>
    </div>
  <hr class="clearLeft"></hr>
     <h2>En savoir plus </h2>
     <div id="taxon-description"><%= description %></div>
     
     <h2>Les indices pour la reconnaitre</h2>
     <div id="criteria-list-container">
     </div>
  </div>
</div>
