<div id="obs-list-content" class="container">
    <div  class="navbar navbar-fixed-top loc-header">
        <a href="#" class="header-button header-button-left header-back-button sprite-sauvages sprite-back"></a>
        <a href="#" class="header-logo"><img src="./css/images/logo_sauvages_38px.png"/></a>
        <div class="page-block-title">
            <div class="span page-title">Mes observations</div>
        </div>
    </div>
    <div class="page-block-sub-title">
        <h1 class="page-sub-title">Mes Espèces</h1>
    </div>
  
  <div class="loc-container" >
    <ul class="nav nav-tabs" id="tabObs" >
	<li class="active"><a href="#espece">Mes espèces</a></li>
	<li><a href="#rue">Mes rues</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="espece">
        <ul id="values-list" class="list-group">
	<%
            var groups = _.groupBy(data.collection.models,function(item,key,list){
                return item.get('name_taxon');
            });
            _.each(groups,function(group,i,list){
                var nameTaxon = group[0].get('name_taxon');	
          %>    
            <li class="list-group-item">
              <span class="badge"><%= group.length %></span>
              <p><%= nameTaxon %></p>
            </li>
        <% }); %>
        </ul>
      </div>
      
      <div class="tab-pane" id="rue">
	<div class="accordion" id="mesObsParRue">
          <%
            _.each(app.globals.currentRueList.models,function(rue,i,lst){
              var rueId = rue.get('id');
              var rueName = rue.get('name');
              var group = data.collection.getObsByRueId(rueId);
          %>   
            <div class="accordion-group" id='taxonList-div-<%=i %>'>
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#mesObsParRue" href="#collapse<%= i %>">
                <span class="glyphicon glyphicon-plus"></span>
                <b><%= rueName %></b><span class="badge pull-right"><%= group.length %></span>
                </a>
              </div>
              <div id="collapse<%= i %>" class="accordion-body collapse">
                <div class="accordion-inner">
                <ul>
                <%  
                  _.each(group,function(item,key,list){
                %>
                  <li>
                    <div class="">
                      <img class="taxon-img-thumb img-rounded" style ="width:50px;" id="<%= item.get('photo') %>" src="<%= item.get('photo') %>">
                      <p><%= item.get('name_taxon') %> - <%= item.get('milieu') %>- <%= item.get('sended') %></p>
                    </div>
                  </li>
                <% });%>
                </ul>
                </div>
              </div>
            </div>
          <% }); %>
	
	 </div>
    </div>
  <button id="send-obs">Send</button>
      </div>
</div>
