<div id="taxon-detail-content" class="container">  
  <div class="loc-container" >
    <% if(device){var devicePlatform = device.platform;}%>
    <h3>Photographie</h3>
    <% console.log(data.collection.models[0].get('photo'));if((data.collection.models[0].get('photo') && devicePlatform === 'iOS') || (data.collection.models[0].get('photo') !== "undefined" && devicePlatform === 'Android')){ %>
      <div class="photo-obs">
        <img src = "<%= data.collection.models[0].get('photo') %>" alt = "" />
        <label></label>
      </div>
				<% }else{ %> <p>Pas de photographie pour cette observation.</p> <% } %>				

    <h3>Nom scientifique</h3>
      <p>
      <%= data.collection.models[0].get('scientificName') %>
      </p>
    <h3>Milieu</h3>
      <p>
      <%= data.collection.models[0].get('milieu') %>
      </p>
    <h3>Position</h3>
      <ul>
        <li>Latitude : <%= data.collection.models[0].get('latitude') %></li>
        <li>Longitude : <%= data.collection.models[0].get('longitude') %></li>
      </ul>

    <h3>Note</h3>
    <p>
      <% if(data.collection.models[0].get('note') !== "undefined"){%><p><%= data.collection.models[0].get('note')%></p><% }else{ %> <p>Pas de note pour cette observation.</p> <% } %>
    </p>
    <h3>Etat</h3>
      <% if(data.collection.models[0].get('sended') == 1 ){ %><p>Cette observation à été envoyée.</p><%}else{%> <p>Cette observation n'a pas été envoyée.</p> <%} %>
  </div>
  <div id="wrapper-footer">
    <div id="footer" class="mm-fixed-bottom footer-default">
      <nav class="bottom-navbar " role="navigation">
        <div class="btn-group btn-group-justified">   
          <a class='btn btn-default btn-footer btn-footer-left confirme-supp' role='button'><span class="glyphicon glyphicon-trash"></span> Supprimer</a>
          <a class='btn btn-primary btn-footer btn-footer-right' href='#myObservation' role='button'>Retour à mes Sauvages</a>
        </div>
      </nav>
    </div>	
  </div>
</div>
