<div id="taxon-detail-content" class="container">  
  <div class="loc-container" >
  <div class="flexslider ">
    <ul class="slides">
      <% 
      _.each(data.pictures.models,function(item,key,list){
        var picture = item.get('path')
        if(key === 0){
           picture = picture.replace("http://www.tela-botanica.org/appli:cel-img:","./data/images/images_full/")
        }       
      %>
      <li class="loading-slideshow">
       <img src = "<%= picture %>" alt = "<%= data.commonName %> image <%= key %>" />
      </li>
      <%
      });
      %>
    </ul>
  </div>

    <div class="">
      <%= data.description %>
    </div>
    <div class="">
      <div class="" id="criteria-list-container">
      </div>
    </div>
  </div>
  <div id="wrapper-footer"></div>
</div>
