<div id="taxon-detail-content" class="container">  
  <div class="loc-container" >
  <div class="flexslider ">
    <ul class="slides">
      <% var pictures = data.model.get('pictures');
      _.each(pictures.models,function(item,key,list){
        var picture = item.get('path')
        if(key === 0){
           picture = picture.replace("http://api.tela-botanica.org/img:","./data/images/images_full/")
        }       
      %>
      <li class="loading-slideshow">
        <img src = "<%= picture %>" alt = "<%= data.commonName %> image <%= key %>" />
        <label><%= item.get('author')%></label>
      </li>
      <%
      });
      %>
    </ul>
  </div>

  <h3>Description</h3>
  <p>
    <%= data.model.get('description').replace(new RegExp(';','g'),'<br>') %>
  </p>
  <h3>Critères d'identification</h3>
  <fieldset id ="radioCollection" class="" >
    <ul id="values-list" class="criteriaList"></ul>
  </fieldset>
    
  </div>
  <div id="wrapper-footer">
    <div id="footer" class="mm-fixed-bottom footer-default">
      <nav class="bottom-navbar " role="navigation">
        <div class="btn-group btn-group-justified">   
          <a class='btn btn-default btn-footer btn-footer-left' href='#taxonlist<% if(data.localisation !== undefined){ %>Region/<%= data.localisation %> <%} %>' role='button'>Retour aux résultats</a>
          <a class='btn btn-primary btn-footer btn-footer-right' href="#addObs/<%= data.model.get('taxonId') %>/localisation/<% if(data.localisation !== undefined){ %><%= data.localisation %> <%} %>" role='button'>Ajouter une Sauvage</a>
        </div>
      </nav>
    </div>	
  </div>
</div>
