<div id="obs-list-content" class="container">
  
  <div class="loc-container" >
    <ul class="nav nav-tabs" id="tabObs" >
								<li class="active"><a href="#rue">Mes rues</a></li>
								<li ><a href="#espece">Mes espèces</a></li>
    </ul>
    <div class="tab-content">
								<div class="tab-pane active" id="rue">
												<div class="panel-group" id="mesObsParRue">
														<% var partage = false; 
																_.each(data.parcours.models,function(rue,i,lst){
																		var rueId = rue.get('id');
																		var rueName = rue.get('name');
																		var group = data.collection.getObsByRueId(rueId);
														%>   
																<div class="panel panel-default" id='taxonList-div-<%=i %>' >
																				<div class="panel-heading <% if(rue.get('end_datetime') === 'undefined' || rue.get('end_datetime') === null){ %> rueEnCours <% } %>" >
																								<a data-toggle="collapse" data-parent="#mesObsParRue" href="#collapse<%= i %>">
																												<span class="glyphicon glyphicon-plus glyph-collpase"></span>
																												<b><%= rueName %></b>
																													<% if(rue.get('state') === 1) { %>
																																<% 	var obsTime = 	rue.set('end_datetime', new Date().format("dd/MM/yyyy")); %>
																																<i> Fin du parcours : <%= rue.get('end_datetime') %></i>
																																<% if(group.length >= 1) { partage = true;%>
																																		<button type="button" id ="<%= rue.get('id') %>" class="btn btn-sm btn-vert-clair test-obs pull-right">
																																				<span class="glyphicon glyphicon-refresh"></span>
 																																				Partager
																																				<span class="badge"><%= group.length %></span>																												
																																		</button>
																																<%	} %>			
																												<%	}else if(rue.get('state') === 2){ %>
																																<i> Rue partagée</i>
																																<span class="badge pull-right"><%= group.length %></span>
																												<%	}else{ %>
																																<i> Rue en cours</i>
																																<span class="badge pull-right"><%= group.length %></span>
																												<%	} %>

																								</a>
																				</div>
																				<div id="collapse<%= i %>" class="panel-collapse collapse" >
																								<div class="panel-body">
																												<ul class="list-group">
																												<% if (group.length === 0){ %>
																																<li>
																																				<div>
																																						<p>la rue ne contient pas d'observations.</p>
																																				</div>
																																</li>
																												<% }else{ %>
																																<%  
																																	_.each(group,function(item,key,list){
																																%>
																																<li class="list-group-item">
																																				<div class="clearfix">
																																						<p><i><%= item.get('name_taxon') %></i> - <%= item.get('milieu') %></p>
																																				<% if(item.get('photo') !== "undefined") { %>
																																								<img class="taxon-img-thumb img-rounded pull-left" style ="width:50px;"  src="<%= item.get('photo') %>">
																																				<% } %>				
																																				
																																						<button type="button" class="destroyObs btn btn-default pull-right" id="<%= item.get('id') %>"><span class="glyphicon glyphicon-trash"></span></button>
																																								
																																				</div>
																																</li>
																																<% });%>
																												<% } %>
																												</ul>
																								</div><!--panel-body-->
																				</div><!--panel-collapse-->
																				
																</div><!--panel-default-->
																<% }); %>
												</div><!--panel-group-->
								</div><!--tab-rue-->
								<div class="tab-pane" id="espece">
												<ul id="values-list" class="list-group">
														<%
																_.each(data.collection.models,function(group,i,list){
																				var nameTaxon = group.get('name_taxon');
																				var tagRegion = group.get('regionPaca');
														%>    
																<li class="list-group-item">
																		<span class="pull-right"><% if(tagRegion === 1){ %><img class="badge-localisation" src='css/region/Provence-Alpes-Cotes-Azur/icon-region.png'"/> <% } %></span>
																		<span><%= nameTaxon %></span>
																</li>
														<% }); %>
												</ul>
								</div>
    </div>
    
		<div id="wrapper-footer">
				<div id="footer" class="mm-fixed-bottom footer-default">
						<nav class="bottom-navbar" role="navigation" >
						<div class="btn-group btn-group-justified">
								<% 	var rueEnCours = data.parcours.findWhere({'state': 0});	
								%>
								<button type="button" class="btn btn-footer btn-default back-home">Retour à l'accueil</button>
								<% if(typeof(rueEnCours) !== 'undefined'){ %><button id="" type="button" class="btn btn-footer btn-default back-rue-en-cours">Retour à la saisie</button>
								<% }else{ %><button type="button" class="btn btn-footer btn-default back-parcours">Nouvelle rue</button><% };%>
			

    </div>
  </nav>
</div>	
		</div>
	 </div>
				</div>
		
</div>
