<div class="block-classement">
<% console.log(data); %>
    <% if(data !== undefined && data.collection !== undefined) { %>
    <table class='table'>
      <caption>Classement National</caption>
      <thead>
        <tr>
          <th>Rang</th>
          <th>Pseudonyme</th>
          <th>Observation</th>
        </tr>
      </thead>
      <tbody>
        <%  _.each(data.collection.models,function(rec){ %>
          <tr class="col-md-12 col-xs-12 <% if(rec.get('uid') == data.model.get('uid')) { %> <%= 'active' %> <% } %>">
            <td class="col-md-2 col-xs-3" > <%= rec.get('rank') %> </td> 
            <td class="col-md-6 col-xs-9" ><%= rec.get('name') %></td>
            <td class="col-md-2 col-xs-3" > <%= rec.get('score') %> </td> 
          </tr>
        <% }) %>
      </tbody>
      <% }%>
    </table>
</div>