/*-----------------BOUTON RADIO-----------------------*/
#radioCollection li{
	list-style:none;
}
#radioCollection li:nth-child(even){
background:#EBECDE;
}
#radioCollection ul{
	margin-left:0;
	clear:both;
	-webkit-padding-start: 0px;
}

.criteria-list-item {
		padding: 5px 5px 0px;
		float: left;
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0.25);
}

.criteria-name p{
  margin:3px 0 0px;
  float:left;
}
.criteria-name a{
		float:right;
}

.criteria-value-list li {
  border:none;	

}
.RadioCustom{
/*gradient à épurer pour le prod garder comptabilité chrome seulement*/
  background: #ffffff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
  float:left;
  border-right: 3px solid #1E515A;
		border-top: 1px solid #1E515A;
		border-left: 1px solid #1E515A;
		border-bottom-width: 3px;
		border-bottom-color: #1E515A;
		border-bottom-style: solid;
		margin: 2px 3px 5px;
		border-radius: 3px;
		box-shadow: 4px 4px 0px rgba(0,0,0,0.5);
		padding: 1.5%;
}
.RadioCustomOn{
  background:#BFE639;
  border-top-width:3px;
  border-left-width:3px;
  margin-top:0px;
  box-shadow: -1px -1px 2px #BFE639,1px 1px 2px #BFE639;
}
.RadioCustom input[type="checkbox"]{
  position:relative;
  margin-left:-15px;
  cursor:pointer;
  position:relative;
  float:left;
  display:none;
  visibility:hidden;
}

.RadioCustom label{
  cursor:pointer;
  float:left;
  margin-bottom:0;
}

span.RadioCustom img {
		width: 43px;
		height: 43px;
}

#crit-list li h3{
  margin:1px;
  display:inline;
  font-size:0.9em;
}
#crit-list li{
  padding:10px;
  min-height:25px;
}
.imgHelpKey {
  height:25px;
  position:relative;
  float:right;
}

a.sprite-btn-resultat:hover {
		text-decoration: none;
}

/*******Modal Help********/
#identification-list-content > button {
		position: fixed;
		right: 0;
		top: 0;
		height: 76px;
		z-index: 1033;
		background-color: transparent;
		color: white;
		font-size: 21px;
}

#nodal li:nth-child(even){
		background-color: inherit;
}
.modal-content {
		background-color: #28717e;
		color: white;
}
.alert-helpkey .modal-body{
		padding:0;
}
.modal-header.alert-helpkey + .modal-body{
		padding: 0px;
		font-size:15px;
}
.helpKeyDiv li {
	min-height: 55px;
	list-style-type: none;
	clear:both;
}
.helpKeyDiv img {
		margin: auto;
		display: block;
		background-color: rgba(254,254,254,0.8);
		padding: 10px;
		border-radius:2px;
}
.helpKeyDiv p{

}
.helpKeyDiv .nomValeur{
		text-align: center;
}
.cle .helpKeyDiv .col-xs-12,.cle .helpKeyDiv .col-sm-12,.cle .helpKeyDiv .col-md-12 {
border-bottom: 3px solid rgba(240,240,240,0.3);
}
.cle .helpKeyDiv div.col-xs-12.col-sm-12.col-md-12:last-child {
/* color: red; */
border-bottom: 0;
}
.cle button#modal-close {
		background-color: #ccc;
		color: #28717E;
}