html,body{
		height : 100%;
}
body{
		color: white;
		background-color: #28717E;
		-webkit-font-smoothing: antialiased;	
}
#content{

}
h2 {
font-size: x-large;
font-weight: 200;
}

/*------------@font-face--------------*/
@font-face {
	font-family: 'sauvages';
	src:url('fonts/sauvages.eot?waq3bm');
	src:url('fonts/sauvages.eot?#iefixwaq3bm') format('embedded-opentype'),
		url('fonts/sauvages.woff?waq3bm') format('woff'),
		url('fonts/sauvages.ttf?waq3bm') format('truetype'),
		url('fonts/sauvages.svg?waq3bm#sauvages') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
		font-family: 'sauvages';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		font-size: 19px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-francegras-simple:before {
	content: "\e600";
}
.icon-profil-visage-sauvages:before {
	content: "\e601";
}
.icon-profil-sauvages:before {
	content: "\e602";
}
.icon-fleurgrasse-sauvages:before {
	content: "\e603";
}

/*-----------------------------*/
/**loader**/
.loading{
		background-image: url(./images/spinner.gif);
		background-repeat:no-repeat;
background-size: 120px;
background-position: center center;
width: 100%;
		margin:auto;
		background-color:#28717e;
}
.loading-splash {
		background-image: url(./images/spinner.gif);
		background-repeat: no-repeat;
		background-size: 220px;
		background-position: center center;
		position: relative;
		z-index: 2000;
		height: 220px !important;
		margin-top: 33%;
}
#splash-screen{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
}
#splash-screen img {
		width: 100%;
}
body > div.mm-page {
		width: 100%;
		height: 100%;
}
#content,body > div.mm-page > div{
		height: 100%;
}
/*********/
.pad-bottom-top {
		padding-top: 75px;
}
.disabled{
		z-index: 1;
		filter: Alpha(Opacity=30);
		opacity: .3;
		zoom: 1;
		color: gray;
}
.disabled, disabled a {
	cursor: default!important;
	pointer-events: none;
}
.btn.disabled {
		color: gray;
}
.container{
  padding-left:0;
  padding-right:0;
  width:100%;
}
#dataloader-img {
  width:32px;
  display:block;
  margin: 40% auto;
}
.loading-slideshow{
	background-image: url(./images/slideshow-loader.gif);
	background-repeat:no-repeat;
	background-size:100%;
}

a {
  color:#A0CA10;
}

a:hover, a:active {
  color:#256226;
}

.clearLeft{
	clear:left;
}
.btn{
		border-radius: 1px;
}
.btn-primary {
		color: white;
		background-color: #008D00;
		border:none;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus  {
		background-color: #00C000;
		border:none;
		color: white;
}
.btn-default {
		color: #000;
		background-color: gray;
		border: none;
}
ul{
	margin:0;
}
.list-el{
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%;
  border:solid 1px;    
  box-shadow: 2px 5px 6px #000000;
  margin-top: 10px;
}

.list-el a {
  width: 100%;
}
/**color**/
.vert-fonce-bg {
  background: #256226;
}
.vert-sauvages{
	color:#008D00; 
}
.vert-clair-sauvages{
	color:#A0CA10; 
}
.rouge-fonce-sauvages{
	color:#C0151C; 
}
.bleu-fonce-sauvages{
	color:#28717E; 
}
.bleu-sauvages{
	color:#9FBEDE; 
}
.beige-sauvages{
	color:#CAD09C; 
}

.vert-anis{
  color:#DEDB00;
}
.vert-anis-bg{
  background:#DEDB00;
}
.white {
  color: white;
}
.red{
  color:#E2001A;
}
.vert-logo{
  color:#27A22D;
}
.btn-vert-clair{
		background:#A0CA10;
		color:#333;
}
.btn-vert-clair:hover,.btn-vert-clair:focus,.btn-vert-clair:active{
		background:#B5DF27;
}
.btn-gris{
		background:#999;
		color:#333;
}
.btn-gris:hover,.btn-gris:focus,.btn-gris:active{
		background:#999;
}
.btn-blanc{
		background:white;
		color:#555;
		font-size:18px;
}
.btn-blanc:hover,.btn-blanc:focus,.btn-blanc:active{
		background:#ccc;
}
.btn-jaune{
		background:#DEDB00;
		color:#333;
}
.btn-jaune:hover,.btn-jaune:focus,.btn-jaune:active{
		background:#F8F64F;
}
.btn-bleu{
		background:#28717E;
		color:white;
}
.btn-bleu:hover,.btn-bleu:focus,.btn-bleu:active{
		background:#228394;
		color:white;
}/****MENU ****/
#menu{
		background-image: url('images/ENTETE-menu/entete-440.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
}
.mm-menu > .mm-panel.mm-opened {
		padding: 80% 0 40px 0;
}
/******PAGE LOCALISATION******/
#mapLeaflet {
		height: 100%;
		width: 100%;
}
/****************/
/*:focus,select:focus {
outline-color: green;
}
*/
.btn:focus {
outline-width: 0px;
}
/****** table des observations fin de parcours ****************/
.badge{
		background-color: rgba(0,0,0,0.7);
}
#rue-obs h2 {
		-webkit-margin-before: 0.3em;
}
#rue-obs  h3 {
		font-size: large;
		-webkit-margin-before: 1em;
		margin-top: 0px;
		border-bottom: 1px solid;
		font-weight: 200;
		line-height: 1.3em;
}

/****** NS_UI-Form****************/
#rue-form {
		height: 100%;
}
#input-picture {
		display: inline-block;
}
#add-sauvages-rue,#utilisateur {
		margin-top: 30px;
}
#add-new-obs {
		margin-top: 20px;
}
.form-group {
		margin-bottom: 5px;
}
.form-actions .btn, .btn-long{
  margin:0px auto;
  display: block;
  width:65%;
}
.form-control{
		border-radius: 2px;
}
.form-actions {
		padding: 19px 5px 20px;
}
.form-content .disabled {
		opacity: .6;
		color: #333;
}
.help-inline {
		color: #DEDB00;
		min-height: 20px;
}
.editor-picture-img{
		max-height: 100px;
		max-width: 100px;
		margin-left: 20px;
		min-height: 100px;
		background-color: rgba(0,0,0,0.3);
		min-width: 100px;
		vertical-align: bottom;
		background-image: url('images/image-par-defaut.jpg');
}
.btn-camera{
		font-size: 21px;
		border-radius:4px;
}

.btn-success {
		color: #ffffff;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		background-color: #27A22D;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
color: #ffffff;
background-color: #007600;
}
/*****panel******/
.panel-group .panel-heading+.panel-collapse .panel-body {
		border-top: 4px solid rgba(0,0,0,0.4);
}
.panel-group .panel,.panel-heading{
		border-radius:1px;
		background: #28717E;
		border-color: rgba(0,0,0,0.4);
}
.panel-default>.panel-heading {
		color: white;
		background-color: rgba(0,0,0,0.2);
		border-color: rgba(0,0,0,0.4);
}
.panel-heading.rueEnCours {
		background-color: yellowgreen;
}
.panel-heading.rueEnCours > a {
		color: #0C2125;
}
.panel-group a, .panel-group {
		color: white;
}
.panel-group a {
		text-decoration:none;
}
.panel ul{
		padding-left:5px;
		list-style: none;
}
.panel .btn-default {
		color: white;
		border: 1px solid rgba(0,0,0,0);
		background-color: #0C2125;
}
.panel .btn-default:hover,.panel .btn-default:focus, .panel .btn-default:active {
		color: white;
}
.panel-heading > a > i {
padding-left: 10px;
}
#taxonList-div-3 > div.panel-heading > a > span.glyphicon.glyphicon-share {
		color: yellowgreen;
}
/****list-group****/
.list-group-item:last-child,.list-group-item:first-child  {
		border-radius: 1px;
}
.panel-group .panel+.panel {
 margin-top: 0px;
}
/*.list-group {
		color:#333;
}*/
/*****tab*****/

.nav-tabs {
		width: 100%;
		border-bottom: 1px solid rgba(0,0,0,0.6);
}
.nav-tabs li {
		width: 50%;
}
.tab-content>.active {
		padding-bottom: 10px;
}
.nav-tabs>li>a {
		margin-right: 2px;
		line-height: 1.428571429;
		border-radius: 2px 2px 0 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
color: white;
background-color: rgba(0,0,0,0.5);
border: 1px solid rgba(0,0,0,0.3);
border-bottom-color: transparent;
		cursor: default;
}
/*****label********/
label {
		font-weight: 200;
}

/***Footer***/
#footer .btn[disabled],#footer .btn.disabled {
		opacity: 1;
		background-color: #9E9E8C;
		color: #555;
}
.mm-fixed-bottom {
right: 0;
}
input.btn.btn-footer, button.btn.btn-footer {
		width: 50%;
		display: inline;
		border: none;
}
a.btn.btn-footer{
		width:50%;
}
.navbar-fixed-bottom {
		min-height: 34px;
		background-color: #333;
}

#footer > nav > div > .btn{
		height: 80px;
		background: #DEDB00;
		color: black;
		font-size: large;
		white-space: normal;
}
#footer > nav > div > .btn:hover {
		background: #A0CA10;
}
/*#footer > nav > div > .btn.disabled{
		background:gray;
}*/
#footer > nav > .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
		border-right: 3px solid #28717E;
}
/******** HEADER **********/
.navbar.navbar-fixed-top.loc-header {
		margin-left: 60px;
}
.navbar-header{
		float:none;
		height: 75px;
}
#header {
		border-bottom: 1px solid;
		background: #28717E;
}
.btn-header{
		background: transparent;
		padding-left: 0;
		height: 100%;
		color: white;	
}
.elem-right-header {
		height: 100%;
}
/*.loc-header{
  height:60px;
}*/
.header-logo {
	float: left;
	padding: 2px 5px;
}
/*.header-button.header-button-left.header-back-button {
	float: left;
}*/

.page-title{
		font-size: xx-large;
		
}
.page-title, .page-subtitle{
		width: auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 1.2em;
}

.page-subtitle{
	clear: left;
}

.loc-container{
  margin:10px 2% 80px ;
		height:100%;
}
#identification-list-content .loc-container{
  margin:0px 0px 80px ;
}
#taxon-list-content .loc-container{
  margin: 0px 0px 70px 0px ;
}
.row {
		margin-left: 0px;
		margin-right: 0px;
}
.sci-taxon-name{
  font-style: italic;
}
/******** CONTENT *********/
.add-margin-top{
		margin-top: 85px;
}

/********HOME*********/
#home-page-content [class^="icon-"], [class*=" icon-"] {
font-size: 25px;
}
#home-page-content .col-xs-12.col-sm-12 p {
		display: inline-block;
}
#home-page-content .first{
		background-image: url('images/ENTETE-menu/entete-home-1280.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
}
.container-home .row {
		margin: 0px -15px;
}
.first a img{
		margin-left:50%;
		display: block;
}
.container-home .btn{
  width:100%;
		border-bottom: 3px solid rgba(0,0,0,0.5);
		font-size: x-large;
}
#home-bonhomme {
  margin: 25% 5px 5px 60%;  
}
#home-logo{
  margin:auto;
  display:block;
}
#home-page-content .first{
		height: 32%;
		min-height: 240px;
		max-height: 655px;
		max-width: 1280px;
}
/****Smartphones (portrait)*****/
@media only screen and (max-height : 320px){
    #home-bonhomme {
    margin: 1% 5px 1px 60%;
    width:30px;
  }
}
@media only screen and (min-height : 321px) and (max-height : 480px)
{
    #home-bonhomme {
    margin: 15% 5px 5px 60%;
  }
}
/**********KEY résultat************/
#languette > a > div {
		min-width: 50px;
}
#taxonNb {
font-size: 24px;
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		margin-top: 1px;
}

/*********** Transition slide ***********/
.page {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  transition-property: -webkit-transform;
		transition-property: transform;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: ease;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
}

.page.is-visible {
			-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: ease;
  transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		/*-webkit-transform:none;*/
}
#home-page-content.page.is-visible {
		top: 0;
}
.transition-none{
		-webkit-transform:none !important;
		/*height:calc(100% - 80px) !important;*/
}

/***********LIST TAXONS***************/
#taxon-list-content .loc-container,#taxon-list-content,.cleliste #content,.cleliste > div.mm-page > div,.cleliste .mm-page{
		height:100%;
		width: 100%;
}
#taxon-list-content fieldset,#identification-list-content {
		min-height: 100%;
		padding-bottom: 80px;
}
#content.container {
position: absolute;
height: 100%;
}
#languette{
		position: fixed;
		top: 33%;
		box-shadow: 5px 9px 5px rgba(0, 0, 0, 0.4);
}
.languette-right{
		right: 0;
		padding: 8% 1%;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		background: rgba(138,46,30,1);
		background: -moz-linear-gradient(left, rgba(138,46,30,1) 0%, rgba(240,47,23,1) 16%, rgba(240,47,23,1) 84%, rgba(201,51,38,1) 93%, rgba(150,36,28,1) 99%, rgba(150,36,28,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(138,46,30,1)), color-stop(16%, rgba(240,47,23,1)), color-stop(84%, rgba(240,47,23,1)), color-stop(93%, rgba(201,51,38,1)), color-stop(99%, rgba(150,36,28,1)), color-stop(100%, rgba(150,36,28,1)));
		background: -webkit-linear-gradient(left, rgba(138,46,30,1) 0%, rgba(240,47,23,1) 16%, rgba(240,47,23,1) 84%, rgba(201,51,38,1) 93%, rgba(150,36,28,1) 99%, rgba(150,36,28,1) 100%);
		background: -o-linear-gradient(left, rgba(138,46,30,1) 0%, rgba(240,47,23,1) 16%, rgba(240,47,23,1) 84%, rgba(201,51,38,1) 93%, rgba(150,36,28,1) 99%, rgba(150,36,28,1) 100%);
		background: -ms-linear-gradient(left, rgba(138,46,30,1) 0%, rgba(240,47,23,1) 16%, rgba(240,47,23,1) 84%, rgba(201,51,38,1) 93%, rgba(150,36,28,1) 99%, rgba(150,36,28,1) 100%);
		background: linear-gradient(to right, rgba(138,46,30,1) 0%, rgba(240,47,23,1) 16%, rgba(240,47,23,1) 84%, rgba(201,51,38,1) 93%, rgba(150,36,28,1) 99%, rgba(150,36,28,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a2e1e', endColorstr='#96241c', GradientType=1 );

		border-left: 3px solid rgba(210,47,23,1);
}
.languette-left{
		left:0;
		padding: 9% 0%;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		background: rgba(150,36,28,1);
		background: -moz-linear-gradient(left, rgba(150,36,28,1) 0%, rgba(150,36,28,1) 1%, rgba(201,51,38,1) 7%, rgba(240,47,23,1) 16%, rgba(240,47,23,1) 84%, rgba(138,46,30,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(150,36,28,1)), color-stop(1%, rgba(150,36,28,1)), color-stop(7%, rgba(201,51,38,1)), color-stop(16%, rgba(240,47,23,1)), color-stop(84%, rgba(240,47,23,1)), color-stop(100%, rgba(138,46,30,1)));
		background: -webkit-linear-gradient(left, rgba(150,36,28,1) 0%, rgba(150,36,28,1) 1%, rgba(201,51,38,1) 7%, rgba(240,47,23,1) 16%, rgba(240,47,23,1) 84%, rgba(138,46,30,1) 100%);
		background: -o-linear-gradient(left, rgba(150,36,28,1) 0%, rgba(150,36,28,1) 1%, rgba(201,51,38,1) 7%, rgba(240,47,23,1) 16%, rgba(240,47,23,1) 84%, rgba(138,46,30,1) 100%);
		background: -ms-linear-gradient(left, rgba(150,36,28,1) 0%, rgba(150,36,28,1) 1%, rgba(201,51,38,1) 7%, rgba(240,47,23,1) 16%, rgba(240,47,23,1) 84%, rgba(138,46,30,1) 100%);
		background: linear-gradient(to right, rgba(150,36,28,1) 0%, rgba(150,36,28,1) 1%, rgba(201,51,38,1) 7%, rgba(240,47,23,1) 16%, rgba(240,47,23,1) 84%, rgba(138,46,30,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96241c', endColorstr='#8a2e1e', GradientType=1 );
		border-right: 3px solid rgba(210,47,23,1);
}

#languette a{
		color:white;
		/*display: table-row;*/
		color: rgba(20,40,40,0.6);
		text-shadow: 1px 4px 4px red, 0 0 0 #000, 1px 4px 4px red;
		text-decoration: none;
}
#languette .glyphicon{
		/*display: table-cell;*/
		vertical-align: middle;
		top: initial;
		font-size: x-large;
}
.liste #impressionContinue {
border-right: 1px solid #28717E;
left: 0;
background: #ff0000; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #ff0000 0%, #7c0000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(100%,#7c0000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #ff0000 0%,#7c0000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #ff0000 0%,#7c0000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #ff0000 0%,#7c0000 100%); /* IE10+ */
background: linear-gradient(to right,  #ff0000 0%,#7c0000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#7c0000',GradientType=1 ); /* IE6-8 */

}
.cle #impressionContinue {
border-left: 2px solid red;
right: 0;
background: #7c0000; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #7c0000 0%, #ff0000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7c0000), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #7c0000 0%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #7c0000 0%,#ff0000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #7c0000 0%,#ff0000 100%); /* IE10+ */
background: linear-gradient(to right,  #7c0000 0%,#ff0000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c0000', endColorstr='#ff0000',GradientType=1 ); /* IE6-8 */

}

/*body.pad-bottom-top.cleliste.liste, .cleliste.liste .mm-page #header {
		margin-left: 4%;
}
body.pad-bottom-top.cleliste.cle, .cleliste.cle .mm-page #header {
		margin-right: 4%;
} */
.taxon-list-item {
	width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);;
		border-bottom: 0px;
}
.taxonName {
	width: 75%;
	float: left;
}
.taxonName a {
  width: 100%;
  display: block;
  color:white;
}
.taxonName em {
  color:#ddd;
}

.taxonName p {
  float: left;
  margin-top: 10px;
  width:60%;
  line-height: 16px;
}

.taxonName .taxon-img-thumb {
  /*width: 67px;*/
  margin: 3px 5px 3px 3px;
  float: left;
  border-radius:4px;
}
.taxonList li {
		padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  width: 100%;
  background-color:white;   
}
.page-block-sub-title{
  
}
h1.page-sub-title {
		font-size: 14px;
		line-height: 16px;
		margin-top: 0.2em;
		margin-bottom: 0.1em;
		-webkit-margin-before: 0.2em;
		-webkit-margin-after: 0.1em;
		display:inline;
}

.sprite-arrow-div-list-transparent {
position: absolute;
margin-top: 3px;
z-index: 1;
right: 70px;
}
.btnAddObsList{
 
}
.item-list-alphabetique p {
-webkit-margin-start: 6px;
-webkit-margin-after: 0px;
text-shadow: 1px 0px 1px gray;
}
.taxonList li:last-of-type{
border-bottom: 1px solid rgba(0, 0, 0, 0.25);;
}
li.item-list-alphabetique{
  background:rgba(0, 0, 0, 0.25);
}
li:nth-child(odd){
		background:transparent;
}
li:nth-child(even){
		background:rgba(0, 0, 0, 0.25);
}
ul.nav-list ul {
  padding-left: 0;
}

/*****LIST OBS*****/
.panel-body ul li div{
		padding:5px;
}
#obs-list-content .loc-container {
		margin: 10px 0px 180px;
}
/*#obs-list-content .panel-default>.panel-heading.rueEnCours{
		background-color: #A0CA10;
}
#obs-list-content .panel-default>.panel-heading{
		background-color: lightgray;
}*/
.btnAddObsList .btn{
		height:86px;
}
.btnAddObsList .btn .glyphicon {
		margin-top: 28px;
}
#obs-list-content .panel-body p{
		width: 70%;
		float:left;
		padding: 5px 0px 0px 10px; *
}
#obs-list-content .panel-body li{
		margin-bottom:4px;
}
/*#mesObsParRue .accordion-heading{
		padding:10px;
}*/
/**********carousel-container*************/
#taxon-detail-content .flexslider{
	margin:0 0 35px;
	min-height: 50px;
}

#taxon-detail-content .flex-control-paging li a{
  width:5px;
  height:5px;
}
.flexslider .slides > li:first-child {display: list-item;}

/***DETAIL TAXON***/
/*#taxon-detail-content .loc-container{
  margin:20px 10px 0px;
}*/
.btnObs{
  width:25%;
  margin:0px 32% 5px;
}
.btnObs {
margin: 10px auto;
background-image: url('images/btn-add-obs-round.png');
background-repeat: no-repeat;
width: 74px;
height: 60px;
display: block;
}
.accordion-toggle {
color: black;
}
.accordion-toggle:hover {
color: black;
text-decoration: none;
}
.accordion-toggle i {
margin-right: 7px;
}
.accordion {
margin-bottom: 60px;
}
#criteria-list-container li {
list-style: none;
margin: 10px;
}

/********** REGION *************/
#regions-page-content .first{
		width: 30%;
		float: left;
}
#regions-page-content .first img{
		width: 100%;
		margin: 10px;
}
#map {
		position: absolute;
		top: 120px;
		width: 100%;
}
/***********MEDIA QUERIE**********/
@media (min-width: 768px){
  #carousel-container {
  width: 100%;
  }
}

/*******SURCHARGE DE TWITTER BOOTSTRAP*******/

@media (max-width: 767px){
  body {
	padding-right: 0;
	padding-left: 0;
  }
 /* [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
	width: 80%;
	float: left;
  }*/
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
				margin-right: 0;
				margin-left: 0;
  }
		.loading-splash {
				background-size: 110px;
				height: 110px !important;
				margin-top: 20%;
		}
}

/*********************************************/
.nav-list {
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

.navbar-fixed-top{
  position: fixed;
 /* background:whitesmoke;
  min-height:43px;*/
}

.notification-list{
	margin-top : 10%;
}
/******MODAL********/
.notification-modal,.modal{
		color:black;
}
.alert-success {
		color: #008D00;
}
.modal-body, .modal-body .btn, .modal-footer .btn {
		font-size: 18px;
}
.modal-body .btn {
		margin-top: 20px;
}
/****CARTE SVG******/


/****Annuaire****/
/*.btn-group-vertical > .btn:first-child {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-top: 0;
}

#aphabetic-list-el{
		position: fixed !important;
		right: 0px !important;
		background: whitesmoke;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
		z-index: 2;
		color: #ffffff;
		background-color: #008D00;
		border-color: #008D00;
}
.internal-anchor {
		border: 0;
		font-size: xx-small !important;
		min-width: 100%;
		padding: 0;
		margin: 5px 5px 0px;
		background-color: transparent;
		background-image: none;
		height: 4%;
}*/
@media all {
	#aphabetic-list-el {
		overflow                    : hidden;
		position                    : fixed;
		display                     : block;
		/*width                       : 100%;
	  padding-top               : 60px;
		padding-bottom              : 60px;
		top                         : 0;*/
	 height: 80%;  /* uncomment if desktop */
	}
/* #home-page-content {
		overflow                    : hidden;
		position                    : fixed;
		display                     : block;
		top                         : 0;
  height: 95%;  /* uncomment if desktop */
	}*/
}
